@use "./base.scss";

// کانتنت متا
.content-meta>span {
    background-color: var(--lightgray);
    border-radius: 4px;
    padding: 1px 6px 1px 6px;
    font-size: 0.9em;
}

.content-meta {
    color: var(--darkgray);
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

  
// فهرست مطالب
    .toc {
        border-radius: 5px;
        border: 1px solid var(--lightgray);
        padding: 12px; 
        font-size: 0.9rem;
        background-color: #80808017;
    }
    
    #toc-content ul {
        max-height: 360px;
    }
    
    

    #toc-content .depth-0 {
        list-style: disc;
        list-style-position: inside;

    }
    
    #toc-content .depth-1 {
        padding: 0px !important;
        padding-right: 1rem !important;
        list-style: circle;
        list-style-position: inside;
    }
    
    #toc-content .depth-2 {
        padding: 0px !important;
        padding-right: 2rem !important;
    }
    
    #toc-content .depth-3 {
        padding: 0px !important;
        padding-right: 3rem !important;
    }

    #toc-content ul>li>a {
        margin-right: -12px;
        opacity: .45;
    }

 
// بک لینک
    .backlinks>ul {
        border-radius: 5px;
        border: 1px solid var(--lightgray);
        list-style: disc;
        padding-right: 35px;
        padding-top: 10px;
        padding-left: 10px;
        font-size: 0.95rem;
        background-color: #80808017;
        max-height: 230px;
    }

    ul.overflow:after,ol.overflow:after {
        display: none;
    }



// تایپو گرافی
   body {
        font-size: 1.1em;
    }

   p {
        line-height: 2rem;
   } 

   li {
        line-height: 2rem; // برای اصلاح فاصله بین خطوط لیست ها مثل بولت پوینت
    }

   sup {
    vertical-align: middle; //اگه توی متن از پانوشت استفاده شده باشه باعث میشه فاصله بین خطوط به هم نریزه
    }
    
    h2 {
        font-size: 1.6rem;
        margin-top: 1rem;
        margin-bottom: -0.2rem;
        border-bottom: 1px solid var(--lightgray);
        padding-bottom: 0.2em;
    }

    h3 {
        font-size: 1.30rem;
        margin-top: 1rem;
        margin-bottom: -0.8rem;
    }

    h4,
    h5,
    h6 {
      font-size: 1.1rem;
      margin-top: 1rem;
      margin-bottom: -0.8rem;
    }



// بلوک کد
    pre {
        background: #afafaf1a;
    }

    pre>code {
        overflow-x: auto;
    }

    code {
        direction: ltr !important;
        font-family: var(--bodyFont);
    }



// دیاگرام
    .mermaid {
        direction: rtl !important;
    }

    pre:has(>code.mermaid) {
        background-color: transparent;
    }

    .nodeLabel {
        font-family: var(--bodyFont);
    }

    pre:has(>code.mermaid) .clipboard-button {
        display: none;
    }



// تغییر متن پانوشت
    h2#footnote-label{
        visibility: hidden;
    }
    
    h2#footnote-label::after{
        content: "پانوشت‌ها";
        visibility: visible;
        display: block;
    }



// دکمه
    .my-button {
    background-color: var(--tertiary);
    color: white;
    padding: 8px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: var(--bodyFont);
    font-size: 1em;
    }  

    .my-button:hover {
        background-color: var(--secondary);
    }


// بلوک نقل قول

blockquote {
    background-color: #5960cf0a;
    padding: 15px;
    border-radius: 10px;
}



// جستجو

.search {
    max-width: none;
}


