@use "./base.scss";
  
// put your custom CSS here!

html {
    font-family: Vazirmatn, sans-serif !important;
}
 
.breadcrumb-element p {
    margin: 0 .5rem 0 0;
    padding: 0;
    line-height: normal;
}
 
button#explorer .fold {
    opacity: .8;
    margin-left: 0 !important;
    margin-right: 0.5rem !important;
    transition: transform .3s;
}
 
.content-meta[show-comma="true"] > span:not(:last-child) {
    margin-left: 8px !important;
    margin-right: 0px !important;
}
 
.tags {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
 
.folder-icon {
    margin-right: 0px !important;
    margin-left: 5px !important;
}
 
#explorer-content ul {
    padding-right: .7rem !important;
    padding-left: 0px !important;
}

#toc-content .depth-0 {
    list-style: disc;
    list-style-position: inside;

}
 
#toc-content .depth-1 {
    padding: 0px !important;
    padding-right: 1rem !important;
    list-style: circle;
    list-style-position: inside;
}
 
#toc-content .depth-2 {
    padding: 0px !important;
    padding-right: 2rem !important;
}
 
#toc-content .depth-3 {
    padding: 0px !important;
    padding-right: 3rem !important;
}
 
li:has(> .folder-outer:not(.open)) > .folder-container > svg {
    transform: rotate(90deg) !important;
}
 
div.search.mobile-only {
    padding-right: 10px !important;
}
 
code { 
	direction: ltr !important;
}
 

.backlinks {

}

.backlinks>ul {
    border-radius: 5px;
    border: 1px solid var(--lightgray);
    list-style: disc;
    padding-right: 35px;
    padding-top: 10px;
    padding-left: 10px;
    font-size: 0.95rem;
}

.toc {
    border-radius: 5px;
    border: 1px solid var(--lightgray);
    padding: 12px; 
    font-size: 0.9rem;

}

a.internal.tag-link {
    background-color: var(--lightgray);
    color: var(--darkgray);
}

.code.mermaid {
    font-family: var(--bodyFont);
}

